html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

#container {
    width: 600px;
    height: 600px;
    border: 1px solid;
    background-color: #fff;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}

.cell {
    border: 1px solid;
}