#container {
    width: 500px;
    height: 500px;
    border: 1px solid;
    background-color: darkcyan;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}

.cell {
    border: 1px solid;
}

.cell:hover {
    background-color: darkgoldenrod;
}